.page {
  background-color: #ffffff;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/64779f92744674001151b0a2/16855612473527413911.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}


.group {
  padding: 1vh 2vw 1vh 7vw;
}

.space-x-152 > *:not(:first-child) {
  margin-left: 10vw;
}

.group_2 {
  margin-top: 4vh;
}

.space-x-62 > *:not(:first-child) {
  margin-left: 4vw;
}

.text {
  color: #ffffff;
  font-size: 5vh;
  font-family: SourceHanSansCN;
  line-height: 2vh;
}


.group_3 {
  margin-top: 1.5vh;
  line-height: 1vh;
  height: 1.5vh;
}


.text_2 {
  font-size: 3vh;
  line-height: 1vh;
}

.text_3 {
  font-size: 3vh;
  line-height: 1vh;
}

.image {
  width: 10vw;
  height: 10vw;
}
.space-y-11 > *:not(:first-child) {
  margin-top: 1vh;
}
.image {
  width: 10vw;
  height: 10vw;
}
.section {
  padding-top: 10vh;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/64779f92744674001151b0a2/16855612473565032284.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.section_2 {
  padding: 40vh 0 2vh;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/64779f92744674001151b0a2/16855612473576550108.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.equal-division-item {
  padding: 0.63rem 0.38rem;
  width: 13.47rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.image_3 {
  width: 6vw;
  height: 6vw;
}
.font_1 {
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  line-height: 1.13rem;
  color: #ffffff;
}
.image_2 {
  width: 23.44rem;
  height: 37.19rem;
}
.pos {
  position: absolute;
  left: 50%;
  top: 0.94rem;
  transform: translateX(-50%);
}

.contacts-window {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 60vw;
  max-width: 1000px;
  padding: 20px;
  background-color: rgb(255, 255, 255); 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  overflow-y: auto;
  height: 50vh;
}

.contact-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.contact-phone {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.contact-details {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.contact-details p {
  margin: 0;
}

.contact-phone a {
  color: inherit;
  text-decoration: none;
}


.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.button:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.modal {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  height: 500px;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirm-delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  z-index: 10;
}

#videoContainer {
  position: relative;
  display: inline-block;
}

#videoPlayer {
  top: 0;
  left: 0;
  display: none;
}


#response {
  color: white;
  font-size: 2em;
}